DATABASE_URL=postgresql+asyncpg://your_login:your_password@psql/your_database_name
POSTGRES_USER=your_login
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_DB=your_database_name
EMAIL_ADDRESS=your_email@mail.ru
EMAIL_APP_PASSWORD=your_app_password
EMAIL_SMTP_SERVER=smtp.mail.ru
EMAIL_IMAP_SERVER=imap.mail.ru
EMAIL_SMTP_PORT=465
EMAIL_IMAP_PORT=993